#crocNav{
    background-color: rgb(61, 61, 61);
    color: white;
}
h1{
    font-size: 32px;
    float: left;
}
#croc{
    width: 25%;
    height: auto;
    max-width: 100px;
}
#heroHeading{
    width: 380px;
    margin-left: 10px
}
@media screen and (max-width: 700px) {
    #heroHeading{
        max-width: 55%;
    }
}
@media screen and (max-width: 450px) {
    #croc{
        max-width: 20%;
    }
}
@media screen and (max-width: 350px) {
    #croc{
        max-width: 18%;
    }
    #heroHeading{
        max-width: 48%;
    }
}
