body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed;
}

html {
  padding-bottom: 50px;
}
