#logout{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 40%;
    padding: 28px 28px 28px 28px;
    border-radius: 5px;
    background-color: white;
}
#shopAdmin{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 40%;
    padding: 28px 28px 28px 28px;
    border-radius: 5px;
    background-color: white;
}