#productPic{
    height:auto;
    width:75%
}
#productCard {
    width: 30%;
    height: 40%;
    margin: 10px;
    border-radius: 5px;
    float:left;
}

@media screen and (max-width: 400px) {
    #productCard{
        width: 95%;
    }
    #productPic{
        
    }
}