#searchBar {
    background-color: rgb(255, 236, 214);
    padding: 5px;
    width: 100%;
}
#searchBar p{
    float:left;
    font-size: 14px
}
#searchBar input[type=text] {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#searchBar input[type=text]:focus {
    border: 2px solid #555;
}