#checkout{
    border-radius: 5px;
    background: white;
    margin-top: 45px;
    padding: 28px 28px 28px 28px;
}
.totalInfo{
    margin: 0px 0px 0px 10px;
  clear: both;
  display: table;
}
#checkout button {
    margin: 5px 5px 5px 5px;
}
#checkoutQty{
    width: 40px;
}