#productPreview{
    height: 75px;
    width: 75px;
    margin: 5px 5px 5px 5px;
}
#trashIcon{
    padding-right: 10px;
}
#trashIcon:hover {
    color: red
}
#cartRow{
    border: 1px solid rgba(0,0,0,.1);
}